<div class="container-fluid imagecontainer">
    <div class="container">
  <div class="row ">
            <div class="col-md-6 col-sm-6">
                <div class="textarea">
                <p class="text-danger">Welcome To our websit</p>
                <h3>Bring Full Life To Your Kids</h3>
                <p>Amazing Playground for your kids</p>
                <a class="learnmore" href="#">LearnMore</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="imagearea">
                    <img src="../image/kid_transparent.png.webp" alt="kidtransparent" style="height: 300px;width:200px">
                </div>
            </div>
            </div>
    </div>
        </div>
    </div>
</div>