<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-6">
        <img src="../image/img_1.jpg.webp" alt="img_1.jpg" style="width:556px;">
        </div>
        <div class="col-md-6 col-sm-6">
         <span class="text-danger">About us</span>
         <h4 class="mt-3">Bring Fun Life To Your Kids</h4>
         <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum, magni sequi nostrum maxime enim.Magnam id atque dicta deleniti, ipsam ipsum distinctio. Facilis praesentium voluptatem accusamus, earum veritatis, laudantium.</p>
         <a class="moreaboutus mt-5 text-light" href="#">More About Us</a>
        </div>
    </div>
</div>