<div class="container mt-5">
    <h5 class="text-danger text-center">Packages You Like</h5>
    <h2 class="text-center">Our Packages</h2>
    <div class="row">
        <div class="col-md-4 col-sm">
            <div class="card bg-white">
                <h5 class="text-center text-primary mt-3">Indoor Games</h5>
                <p class="text-center text-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, sunt eligendi? Libero repellat perspiciatis, nesciunt enim autem magni.</p>
                <a class="moreaboutus mx-auto mb-2 text-center" href="#">LearnMore</a>
            </div>
        </div>
        <div class="col-md-4 col-sm">
            <div class="card">
                <h5 class="text-center text-success mt-3">Outdoor Game and Event</h5>
                <p class="text-center text-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, sunt eligendi? Libero repellat perspiciatis, nesciunt enim autem magni.</p>
                <a class="moreaboutus mx-auto mb-2 text-center" href="#">LearnMore</a>
            </div>
        </div>
        <div class="col-md-4 col-sm">
            <div class="card">
                <h5 class="text-center text-danger mt-3">Camping for Kids</h5>
                <p class="text-center text-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, sunt eligendi? Libero repellat perspiciatis, nesciunt enim autem magni.</p>
                <a class="moreaboutus mx-auto mb-2 text-center" href="#">LearnMore</a>
            </div>
        </div>
    </div>
</div>